.container {
  background-color: #2a333d;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 5px;
  transition: all 0.3s;
}

.title {
  font-weight: bold;
  font-size: 1.5em;
  margin: 10px 0;
}

.date {
  margin: 0;
  font-weight: lighter;
}

.bodyContent {
  margin-bottom: 1.6em;
}

.comments {
  transition: all 0.3s;
  border-radius: 10px;
  padding: 5px;
  margin-top: 20px;
  background-color: #37424f;
}
